@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap');

body {
    /* background-color: rgb(238,216,211); */
    background-color: #efe9db;

}

main {
    margin-top: 75px;
}

a {
    color: #766c5b;

}

a:hover {
    text-decoration: underline;
}

.navbar-toggler-icon {
    color: #766c5b !important;
}

#bio-photo {
    height: 150px;
    width: 150px;
}

#about p {
    padding: 15px;
    margin: 15px;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    color: #bbad94;
}

.name {
    /* text-transform: uppercase; */
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 44px;
    color: #766c5b !important;
}

#portfolio img {
    height: 350px;
    length: 350px;
    margin: 15px;
}

.container-fluid {
    background-color: white;
}

#bio-image{
    height: 200px;   
    width: 200px;
    margin: 15px;
}

.btn-color {
    background-color: #766c5b;
    color: white;
}

.btn-color:hover {
    color: #bbad94;
}

.navbar-nav {
    color: #766c5b;
}

li {
    color: #766c5b;
}

h2 {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #766c5b;
}

h3 {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #766c5b;
}

.underline {
    text-decoration: underline;
}

footer {
    color: #766c5b;
    ;
}